 <div class="container">
             <div class="row widgetsholder">
                 {% for widget in widgets %}
                     {{ cms_widget(widget) }}
                 {% endfor %}
             </div>
             <div class="cleaner"></div>
             {#
             <div class="row area-row widgetsholder">
                 <div id="col-353" col-id="353" class="cms-col  col-md-4">
                     <div class="">
                         <div id="box-447" class="cms-box head-logo">



                             <div id="box-value-447">
                                 <h1><a href="/">PETR BAŇKA</a></h1>
                                 <h2><a href="/">PHOTOGRAPHY</a></h2><h2>  </h2></div>
                         </div>

                         <div id="box-609" class="cms-box">



                             <div id="box-value-609">
                             </div>
                         </div>


                     </div>
                 </div>
                 <div id="col-354" col-id="354" class="cms-col  col-md-8">
                     <div class="">
                         <div id="box-446" class="cms-box">



                             <div id="box-value-446">


                                 <nav id="nav-menu-1">
                                     <ul>

                                         <li class="menu-item-218">
                                             <a href="/portrety">Portréty</a>
                                         </li>

                                         <li class="menu-item-170">
                                             <a href="/svatby-uvod">Svatby</a>
                                         </li>

                                         <li class="menu-item-175">
                                             <a href="/kontakt">Kontakt</a>
                                         </li>
                                     </ul>
                                 </nav>

                             </div>
                         </div>


                     </div>
                 </div>
             </div>
             #}
             <div class="cleaner"></div>
</div>