// TOOLBARS
.widget-toolbar, .region-toolbar {
  display: none;
  z-index: 100;
  position: absolute;

  padding: 3px;
  background-color: #fff;

  span {
    display: inline-block;
    vertical-align: top;
    background-color: #337ab7;
    color: #fff;
    padding: 3px;
    font-weight: bold;
    font-size: 13px;
    border-radius: 3px;

    i {
      font-size: 15px;
    }
  }

  i {
    font-size: 23px;
    cursor: pointer;
  }

  i.fa-remove {
    color: #fe0006;
  }

  a:hover {
    text-decoration: none;
  }
}

.sortable-helper:extend(.widget-toolbar span) {
  height: 23px !important;
}


.region-toolbar {
  left: 0;
  bottom: 0;
}

.widget-toolbar {
  right: 0;
  top: 0;
}



// REGION
.region {

}

// BOX
.region {
  position: relative;
  min-height: 30px;
  /*
  &:hover {
    .region-toolbar {
      display: block;
    }
  }*/
}

// WIDGET
.widget {
  position: relative;

  &:hover {
    .widget-toolbar {
      display: block;
    }
  }

  .drag {
    cursor: move;
  }
}

#box-drag {
  z-index: 1000;
}


// MODAL
#modal-form-box .nav-tabs {
  margin-bottom: 15px;
}

// PANEL
#cms-panel {
  border-left-width: 0;
  border-right-width: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  z-index: 100;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 -1px 1px #000;
  background: #111;
  border: 1px solid #333;

  .document-info {
    float: left;
    height: 100%;
    width: 450px;
    padding-left: 15px;
    padding-top: 5px;
  }

  .document-links {
    float: right;
    height: 100%;
    width: 300px;

    a {
      display: block;
      width: 100px;
      height: 100%;
      float: right;
      color: #fff;
      text-decoration: none;
      text-align: center;
      font-size: 16px;
    }

    a.document-new {
      background-color: #0a0;
    }

    a.document-edit {
      background-color: #2b669a;
    }

    a.document-delete {
      background-color: #e00000;
    }
  }

  .show-layout {
    width: 300px;
    height: 100%;
    float: left;

    div {
      width: 33.333333333%;
      float: left;
      height: 100%;
      text-align: center;
      padding-top: 6px;
      background-color: #2b669a;
      cursor: pointer;
    }
  }

  .widgets {
    width: 185px;
    height: 100%;
    float: left;

    div.dropdown-menu {
      border-radius: 0px;
      height: 250px;
      width: 700px;
      top: -372% !important;
    }

    .button {
      font-size: 20px;
      height: 100%;
      padding-top: 20px;
      text-align: center;
      background-color: #0a0;
      cursor: pointer;
    }

    .widget {
      cursor: move;
      float: left;
      width: 70px;
      height: 50px;
      background-color: #2b669a;
      color: #fff;
      margin: 3px;
      font-size: 12px;
      text-align: center;
      display: table;
      vertical-align: middle;
      padding-top: 5px;

      i {
        font-size: 20px;
      }
    }
  }

  img {
    position: absolute;
    right: 10px;
    top: -65px;
  }
}

#widget-dialog .widget {
  cursor: move;
}


body {
  margin-bottom: 70px;
}


.emptydiv {
  height: 20px;
  border: dotted #555 2px;
  background: #eee;
}

.newbox {
  background-color: #0be700;
}

.clearfix {
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

// SLIDER
#slider-right {
  background-color: #E6E6E6;
  padding: 15px;
  z-index: 2000;
  position: fixed;
  right: -400px;
  width: 400px;
  top: 0px;
  height: 100%;

  .slider-content {
    height: 100%;
    overflow-y: scroll;
    overflow-x: scroll;
  }
}

#slider-right .handle {
  background-color: #2E2E2E;
  left: -40px;
  padding: 10px;
  position: absolute;
  top: 330px;
  width: 40px;
  cursor: pointer;
  color: #fff;
  z-index: 2000;
  font-size: 20px;
  height: 100px;
  padding-top: 38px;
}


.document-sidebar-tree {
  div {
    border: dotted #aaa 1px;
    padding: 2px;
    margin-bottom: 5px;
  }

  .level-1 {
    margin-left: 10px;
  }

  .level-2 {
    margin-left: 20px;
  }

  .level-3 {
    margin-left: 30px;
  }

  .level-4 {
    margin-left: 40px;
  }

  .level-5 {
    margin-left: 50px;
  }
}


.widget-image-receiver {
  display: none;

  .landing {
    width: 200px;
    padding: 10px;
    color: #888;
    border: solid #666 1px;

    &.ui-droppable-hover {
      background-color: #dde;
      color: #333;
    }

    &.ui-droppable-active {
      border-color: red;
    }
  }
}

// EDIT MODE
.edit-mode {
  .region {
    border: dashed #aaa 1px;
    margin-bottom: 2px;

    .row {
      min-height: 40px;
    }
  }

  .widget {
    min-height: 25px;
    background-color:#d1f1a9;
  }

  .widget-toolbar {
    display: block;
  }

  div.edit-mode-toggle {
    background-color: #e00000 !important;
  }

  .widget-image-receiver {
    display: block;
  }
}

.edit-mode-region {
  .region-toolbar {
    display: block;
  }

  .edit-mode-region-toggle {
    background-color: #e00000 !important;
  }
}

