// TOOLBARS
.widget-toolbar, .region-toolbar {
  display: none;
  z-index: 1000;
  position: absolute;

  background-color: #e3e3e3;
  padding: 3px;

  i {
    font-size: 21px;
    cursor: pointer;
  }

  a:hover {
    text-decoration: none;
  }
}

.region-toolbar {
  left: 0;
  bottom: 0;
}

.widget-toolbar {
  right: 0;
  top: 0;
}



// REGION
.region {

}

// BOX
.region {
  position: relative;
  &:hover {
    .region-toolbar {
      display: block;
    }
  }
}

// WIDGET
.widget {
  position: relative;

  &:hover {
    .widget-toolbar {
      display: block;
    }
  }

  .drag {
    cursor: move;
  }
}



// EDIT MODE
.edit-mode {
  .region {
    border: dashed #aaa 1px;
    margin-bottom: 2px;

    .row {
      min-height: 40px;
    }
  }

  .widget {
    background-color: #FFFFF0;
    min-height: 25px;
  }

  .widget-toolbar, .region-toolbar {
    display: block;
  }
}

// MODAL
#modal-form-box .nav-tabs {
  margin-bottom: 15px;
}

// TOOLBAR
#cms-toolbar {
  border-left-width: 0;
  border-right-width: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 70px;
  z-index: 1000;
  color: #fff;
  font-weight: bold;
  text-shadow: 0 -1px 1px #000;
  background: #111;
  border: 1px solid #333;
}

body {
  margin-bottom: 70px;
}

.box-template {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  background-color: #aaa;
  cursor: move;
}

.emptydiv {
  height: 30px;
  border: dotted #aaa 1px;
  background: #2b669a;
}




