{% extends 'AdminBundle::standard_layout.html.twig' %}

{% block navbar_title %}Soubory{% endblock %}

{% block breadcrumb %}
    <li>
        <a href="/admin/dashboard">
            <i class="fa fa-home"></i>
        </a>
    </li>
    <li class="active"><span>Nahrávání souborů</span></li>
{% endblock %}

{% block sonata_admin_content %}
    <section class="content">
        <iframe width="100%" height="550" frameborder="0" src="/filemanager/dialog.php?type=0"> </iframe>
    </section>
{% endblock %}
