<div class="region-toolbar">
    <span>region ({{ name }})</span>
    <a href="{{  path('cms_region_edit', {'id': documentId, 'name': name }) }}" class="region-edit" data-region-name="{{ name }}">
        <i class="fa fa-pencil-square" aria-hidden="true"></i>
    </a>
</div>