<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
            'assets/vendors/bootstrap/dist/css/bootstrap.css'
            'assets/vendors/font-awesome/css/font-awesome.css'
            'assets/vendors/fancyBox/dist/jquery.fancybox.css'
            'assets/vendors/bootstrap/dist/css/bootstrap.css'
            'assets/vendors/bootstrap/dist/css/bootstrap-theme.css'
            'assets/vendors/jQuery-contextMenu/dist/jquery.contextMenu.css'
            'assets/vendors/tinymce/skins/lightgray/skin.min.css'
            'assets/vendors/tinymce/skins/lightgray/content.min.css'

            'assets/jquery-ui/css/jquery-ui.css'

            '@CmsBundle/Resources/public/css/cms.less'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}



        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        {% block body %}

        {% endblock %}
        {% block javascripts %}
            {% javascripts
            'assets/vendors/jquery/dist/jquery.js'
            'assets/vendors/fancyBox/dist/jquery.fancybox.js'
            'assets/vendors/jQuery-contextMenu/dist/jquery.contextMenu.js'
            'assets/vendors/jQuery-contextMenu/dist/jquery.ui.position.js'
            'assets/vendors/bootstrap/dist/js/bootstrap.js'
            'assets/jquery-ui/js/jquery-ui.js'
            'assets/vendors/tinymce/tinymce.js'
            'assets/vendors/tinymce/jquery.tinymce.js'
            'assets/vendors/tinymce/themes/modern/theme.js'

            'assets/vendors/interactjs/interact.js'

            '@CmsBundle/Resources/public/js/cms.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
