{% form_theme parameters.form 'bootstrap_3_layout.html.twig' %}

<h4 class="big-title" style="text-align: center; margin-top: 20px;">{{ parameters.title }}</h4>

{{form_start(parameters.form, {'attr': {'action': path('cms_contactform_send'), 'id': 'contact-form', 'novalidate': 'novalidate' }})}}

     {{form_widget(parameters.form)}}

{{form_end(parameters.form)}}
