{#
  * parameters.title
  * parameters.annotation
  * parameters.text | raw
#}

<figure class="animateOnScroll" data-animation="fadeIn">
    <img src="{{ parameters.image }}" alt="">
    <figcaption>
        <h2>{{ parameters.title }}</h2>
        <p>{{ parameters.annotation }}</p><a href="portfolio-item.html">Více</a>
    </figcaption>
</figure>