{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <h1>První stránka</h1>
    <div class="row">
      <div class="col-md-6">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed aliquet semper eros facilisis pulvinar. Sed non tincidunt elit. Mauris eget mauris faucibus lectus imperdiet vehicula. Aenean placerat tincidunt nibh sed placerat. Curabitur sed commodo urna. In aliquam vestibulum ex, in vestibulum risus sagittis at. Nam dignissim massa non rutrum congue. Aliquam sit amet convallis quam. Praesent rutrum magna purus, nec dapibus massa pulvinar vitae. 
      </div>
      <div class="col-md-6">
        Nunc a orci auctor, sollicitudin ligula ut, molestie nisl. Donec a libero ut erat posuere eleifend. Etiam convallis, neque ac ultricies suscipit, enim metus efficitur turpis, et convallis magna tortor vel ligula. Vivamus nec arcu in magna lacinia venenatis. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ut ante scelerisque, convallis purus a, volutpat nulla. Duis sagittis odio ut tortor imperdiet, in molestie nulla laoreet. Sed porta enim eget commodo gravida. Maecenas a porta ligula. Phasellus id purus facilisis, sagittis nunc et, tincidunt tellus. Cras eget cursus dolor, sed ornare ex. 
      </div>
    </div>
  </div>
{% endblock %}

