
<div id="widget-fom-box" class="region-form pure-form pure-form-stacked">
    {{ form_start(form, {'attr': {'action': path('cms_region_edit', {'id': document.id, 'name': region.name }), 'id': 'modal-edit-form', 'novalidate': 'novalidate' }}) }}

    <div class="tab pure-g">
        <div class="pure-u-4-5">
            {{ form_widget(form) }}
            <p>šablona je "footer", soubor pak má název "DOMENA/Region/region-footer.html.twig"</p>
        </div>
        <div class="pure-u-1-5">
            <p>Region: <strong>{{ region.name }}</strong></p>
        </div>
    </div>

    <div style="display: none;"><input type="submit" value="Odeslat" /></div>

    {{ form_end(form) }}
</div>