
<div id="widget-fom-box" class="admin-content">
    {{ form_start(form, {'attr': {'action': path('cms_region_edit', {'id': document.id, 'name': region.name }), 'id': 'modal-edit-form', 'novalidate': 'novalidate' }}) }}

    <div class="row">
        <div class="col-md-3 col-md-push-9">
            <h5>{{ region.name }}</h5>
        </div>
        <div class="col-md-9 col-md-pull-3">
            {{ form_widget(form) }}
        </div>
    </div>

    <div style="display: none;"><input type="submit" value="Odeslat" /></div>

    {{ form_end(form) }}
</div>