
<div id="modal-form-box">
    {{ form_start(form, {'attr': {'action': path('cms_document_add'), 'id': 'modal-edit-form', 'novalidate': 'novalidate' }}) }}

    <div style="display: none;"><input type="submit" value="Odeslat" /></div>

    {{ form_end(form) }}
</div>