.cms-admin-top-menu {
  float: right;
  padding: 15px;
}
.cms-dashboard .box {
  padding: 15px;
}
.cms-dashboard .tree a {
  font-size: 16px;
}
.cms-dashboard .tree > ul {
  padding-left: 15px;
}
#product-images {
  margin: 10px 0;
}
#product-images .emptyitem {
  width: 19%;
  float: left;
  border: dotted #555 1px;
  height: 250px;
  margin-right: 1%;
  margin-bottom: 5px;
  position: relative;
  content: " ";
  display: block;
  background-color: #0b97c4;
}
#product-images .item {
  width: 19%;
  float: left;
  padding: 5px;
  border: solid #555 1px;
  margin-right: 1%;
  text-align: center;
  position: relative;
  margin-bottom: 5px;
  height: 250px;
}
#product-images .item .loader {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
  background-color: #aaa;
  opacity: 0.8;
  text-align: center;
  line-height: 100%;
  display: none;
}
#product-images .item .loader span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #000;
  font-weight: bold;
}
#product-images .item img {
  width: 100%;
}
#product-images .item a {
  display: block;
  margin-top: 5px;
}
#product-images .item .drag {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: move;
}
#product-images:after {
  content: "";
  display: block;
  clear: both;
}
.billing-address,
.delivery-address {
  height: 550px;
}
