/*@import url(http://fonts.googleapis.com/css?family=Artifika);*/
/*@import url(http://fonts.googleapis.com/css?family=Fanwood+Text);*/
@import url(http://fonts.googleapis.com/css?family=Martel&subset=latin,latin-ext);
body {
  font-family: Martel;
  background: #F7F7F7 url("/images/bg.jpg") repeat scroll center top;
}
p {
  margin-top: 10px;
  margin-bottom: 10px;
}
.rigftf {
  float: right;
}
.cms-row {
  margin-top: 10px;
}
.cms-box {
  min-height: 25px;
}
.cleaner {
  clear: both;
}
.white-box {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
.white-box h1 {
  margin-top: 0px;
}
header {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.75);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.15);
  margin-bottom: 30px;
  margin-top: 20px;
  min-height: 140px !important;
}
footer {
  margin-bottom: 20px;
}
header .head-logo {
  text-align: center;
  margin-top: 20px;
}
header .head-logo h1 {
  margin-bottom: 0px;
}
header .head-logo h1 a {
  color: #000;
  letter-spacing: 5px;
  text-decoration: none;
}
header .head-logo h2 {
  margin-top: 0px;
}
header .head-logo h2 a {
  color: #666;
  text-decoration: none;
  font-size: 17px;
}
header nav {
  float: right;
  clear: right;
  margin-top: 40px;
  margin-right: 20px;
}
header nav ul {
  margin: 0px;
}
header nav li {
  float: left;
  list-style: outside none none;
  margin: 0px;
  padding: 0px;
  padding-bottom: 15px;
}
header nav li a,
header nav li a:hover {
  border-left: 1px solid #eee;
  margin-left: 10px;
  padding-left: 10px;
  text-decoration: none;
}
header nav li.active.has-subs {
  background-image: url(/images/bg-nav-active.png);
  background-repeat: no-repeat;
  background-position: bottom center;
}
header nav li a {
  display: block;
  color: #666;
  text-decoration: none;
}
header nav li:first-child a {
  border-left: 0px;
  padding-left: 0px;
  margin-left: 0px;
}
header nav li.active a {
  color: black;
}
header nav#nav-menu-1 ul {
  font-size: 1.4em;
}
header nav#nav-menu-2 ul {
  font-size: 1.2em;
}
header nav#nav-menu-2 {
  margin-top: 15px;
}
.thumbnail h4 {
  padding: 10px;
  padding-left: 5px;
  padding-bottom: 0px;
  margin-bottom: 5px !important;
}
.thumbnail h4 a {
  color: #444;
  text-decoration: none;
  font-size: 20px;
}
.thumbnail h4 a:hover {
  color: #222;
}
.thumbnail p {
  padding-left: 5px;
  padding-top: 0px;
  margin-top: 0px;
  color: #aaa;
}
/* FOTOALBUM */
.pohoto-album h1 {
  margin-bottom: 5px;
  color: #000;
}
/* FOTOKATEGORIE */
.pohoto-category .thumbnail {
  height: 362px;
}
.pohoto-album p.annotation {
  font-size: 20px;
  color: #666;
  margin-top: 0px;
}
.pohoto-album .description {
  line-height: 1.8em;
}
/* === MOBILNI ZARIZENI === */
@media handheld, only screen and (max-width: 991px) {
  header {
    margin-top: 0px;
  }
  header nav {
    float: none;
    clear: both;
    margin-top: 40px;
    margin-right: 0px;
  }
  header nav ul {
    text-align: center;
    padding: 0px;
  }
  header nav li {
    display: inline-block;
    float: none;
  }
  header nav#nav-menu-1 ul {
    font-size: 1.1em;
  }
  header nav#nav-menu-2 ul {
    font-size: 1em;
  }
}
/* === FOTOGALERIE */
.gallery .image-holder {
  margin-bottom: 3rem;
}
