<!-- Start Contact Info -->
<ul class="contact-details">
     <li><a href="#"> <i class="icon-envelope"> </i> {{ parameters.email }} </a></li>
     <li><a href="#"> <i class="icon-call-out"> </i> Zavolejte nám: {{ parameters.phone }} </a></li>
     <li><a href="#"> <i class="icon-clock"> </i> {{ parameters.opening_hours }} </a></li>
</ul>
<!-- End Contact Info -->