<div id="widget-{{ widget.id }}" class="{{ widget.class }}"{% if is_granted('ROLE_ADMIN') %} data-widget-id="{{ widget.id }}"{% endif %}>
    <div class="widget-content">
        {# vlozeni pouze obsahu widgetu, pokud to neni ajax #}
        {% include template with {'widget': widget } %}
    </div>

    {% if is_granted('ROLE_ADMIN') %}
        {% include 'CmsBundle:Editor/Toolbar:toolbar.widget.html.twig' with {'widget' : widget} %}
    {% endif %}
</div>