{% form_theme parameters.form 'bootstrap_3_layout.html.twig' %}

<h2 class="big-title" style="text-align: left;">{{ parameters.title }}</h2>

{{form_start(parameters.form, {'attr': {'action': path('cms_contactform_send'), 'id': 'contact-form-' ~ widget.id, 'class': 'contact-form', 'novalidate': 'novalidate' }})}}

     {{form_widget(parameters.form)}}

{{form_end(parameters.form)}}
