<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets
                '@CmsBundle/Resources/public/css/main.less'
            %}
            <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body class="document{{ document.id }} {{ cms_body_class() }}">

        {% block body %}
        {% endblock body %}

        {# NEMAZAT- DULEZITE PRO EDITACI STRANKY #}
        {% block cms %}
        {% endblock cms %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
