<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body class="{{ cms_body_class() }}">

        {% block body %}
        {% endblock body %}

        {# NEMAZAT- DULEZITE PRO EDITACI STRANKY #}
        {% block cms %}
        {% endblock cms %}

        {% block javascripts %}{% endblock %}
    </body>
</html>
