<div id="slider-right" class="admin-content">
    <div id="image-preview">
        <img src="/images/loading.gif" width="80" />
    </div>
    <div id="trigger-file" class="handle">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </div>
    <div class="slider-content">
        <div id="accordion">

            <h3>Stránky</h3>
            <div>
                {{ render(controller('CmsBundle:Editor/Document:list')) }}
            </div>

            <h3>Soubory</h3>
            <div>
                <div id="file-tree">

                </div>
            </div>

        </div>
    </div>
</div>